.side-bar
  .side-bar_user
    .side-bar-header
      .user-name
        masa
      .icons
        =link_to '#', class:"icon" do
          =icon('far','edit')
          =icon('fas','cog')
  .side-bar_group
    .group
      .group_name
        techcamp 
      .group_messages
        まだメッセージがありません
      .group
      .group_name
        techcamp
      .group_messages
        まだメッセージがありません

