.side-bar
  .side-bar_user
    .side-bar-header
      .user-name
        =current_user.name
      .icons
        =link_to new_group_path, class:"icon" do
          =icon('far','edit')
        =link_to edit_user_path(current_user),class:"icon" do
          =icon('fas','cog')
  .side-bar_group
    - current_user.groups.each do |group|
      .Group
        = link_to '#' do
          .group_name
            = group.name
          .group_messages
            メッセージはまだありません
            