.side-bar{
  width: 300px;
  color:#ffffff;
}

.side-bar_user{
  background-color: #253141;
  height:100px;
  padding:0 20px;
  display:flex;
  align-items: center;
}
.side-bar-header{
  width:260px;
  height: 20px;
  display:flex;
  justify-content: space-between;
  color: #ffffff;
}
.user-name{
  margin-left: 5px;
  font-size:16px;
  font-weight: bold;
}
.icons{
  width:60px;
  height: 100%;
  
  text-align: right;
  margin-left:5px;
  
}
.icon{
  color: #ffffff;
  text-decoration: none;
}
.side-bar_group{
  background-color: #2f3e51;
  height:calc(100vh - 100px);
  padding:0 20px;
}
.Group{
  padding:20px 0 40px;
  box-sizing:border-box;
  text-decoration: none;
}
.group-link{
  text-decoration: none;
  color: #fff;
}
.group_name{
  font-size:15px;
  
  
}

.group_messages{
  font-size: 11px;
  margin-top:5px;
}